{% extends "base.html.twig" %}

{% block title %}Vizualizare medici{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/medici/main.css') }}">
{% endblock %}

{% block body %}
    <div class="top-bar sticky-top">
        <div class="w-100">
            <div class="px-4 py-2 border bg-light">Vizualizare medici</div>
        </div>
    </div>

    <div class="content container min-vh-content">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success m-2" role="alert">{{ message }}</div>
        {% endfor %}
        <div class="container-fluid dashboard-container">
            <div class="row">
                <div class="col-xl border bg-light dashboard-section  m-2">
                    <div class="p-4 row">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/medici/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/medici/table.js') }}"></script>
{% endblock %}