{% extends "base.html.twig" %}

{% block title %}Actualizare pacient{% endblock %}

{% block body %}
    <div class="top-bar sticky-top">
        <div class="w-100">
            <div class="px-4 py-2 border bg-light">Actualizare pacient</div>
        </div>
    </div>

    <div class="content container min-vh-content">
        <div class="container-fluid dashboard-container">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger m-2" role="alert">{{ message }}</div>
            {% endfor %}
            <div class="row">
                <div class="col-xl border bg-light dashboard-section  m-2">
                    <div class="p-4 row">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(form.prenumePacient) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.numePacient) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(form.cnp) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(form.asigurare) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_row(form.adresa) }}
                            </div>
                        </div>
                        <button type="submit" class="button button-width float-end request-confirmation" message="Ești sigur că vrei să actualizezi acest pacient?">Actualizare pacientul</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/pacienti/main.js') }}"></script>
{% endblock %}