{% extends "base.html.twig" %}

{% block title %}Vizualizare pacienți{% endblock %}

{% block body %}
    <div class="top-bar sticky-top">
        <div class="w-100">
            <div class="px-4 py-2 border bg-light">Vizualizare pacienți</div>
        </div>
    </div>

    <div class="content container min-vh-content">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success m-2" role="alert">{{ message }}</div>
        {% endfor %}

        <!-- Filters -->
        <div class="container-fluid dashboard-container">
            <div class="row">
                <div class="col-xl border bg-light dashboard-section  m-2">
                    <div class="p-4 row">
                        {{ form_start(filters) }}
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_row(filters.user) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(filters.asigurare) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(filters.pacienti_medic) }}
                            </div>
                        </div>
                        <button type="submit" class="button button-width float-end btn-filters-search">Caută</button>
                        <button type="reset" class="button button-width float-end btn-filters-delete">Șterge</button>
                        {{ form_end(filters) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="container-fluid dashboard-container">
            <div class="row">
                <div class="col-xl border bg-light dashboard-section  m-2">
                    <div class="p-4">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-select items-per-page-select">
                                    <option value="5" selected>5 pe pagină</option>
                                    <option value="10">10 pe pagină</option>
                                    <option value="50">50 pe pagină</option>
                                    <option value="100">100 pe pagină</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('add_pacient') }}" class="button button-width float-end btn-add-new">Adaugă pacient</a>
                            </div>
                        </div>

                        <div class="table-responsive-xl disable-scrollbars">
                            <table class="table table-hover" id="pacienti-view-table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Prenume</th>
                                    <th scope="col">Nume</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">CNP</th>
                                    <th scope="col">Adresă</th>
                                    <th scope="col">Asigurare</th>
                                    <th scope="col">Acțiuni</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <nav aria-label="Page navigation example" class="row">
                            <div class="col-md-auto number-of-results">

                            </div>
                            <ul class="col-md pagination justify-content-end">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let isGranted = false;
        {% if is_granted('ROLE_ADMIN') %}
            isGranted = true;
        {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('assets/pacienti/table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/pacienti/main.js') }}"></script>
{% endblock %}