<h1>Salut, {{ context.consultatie.pacient.prenumePacient }}!</h1>

<p>Rezultatele consultației din data {{ context.consultatie.data|date('d/m/y')}} sunt următoarele: </p>

<p>Diagnostic: {{ context.consultatie.diagnostic }}</p>
<p>Medicament: {{ context.consultatie.medicament.denumire }}</p>
<p>Doza medicament: {{ context.consultatie.dozaMedicament }}</p>

<p>Consultație realizată de medicul {{ context.consultatie.medic.prenumeMedic }} {{ context.consultatie.medic.numeMedic }}.</p>
<p>O zi bună!</p>
