<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Spital | {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/select2.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
            <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.png') }}"/>
        {% endblock %}

    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar  -->
            {% if is_granted('ROLE_ADMIN') %}
                {% include 'menu/sidebar-admin.html.twig' %}
            {% elseif is_granted('ROLE_MEDIC')%}
                {% include 'menu/sidebar-medic.html.twig' %}
            {% elseif is_granted('ROLE_PACIENT')%}
                {% include 'menu/sidebar-pacient.html.twig' %}
            {% endif %}

            <!-- Page Content  -->
            <div id="content" class="p-0">
                {% include 'menu/navbar.html.twig' %}
                <div class="content-h-100">
                    {% block body %}{% endblock %}
                </div>
                {% include 'footer.html.twig' %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.slim.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/select2.min.js') }}"></script>
            <script src="{{ asset('assets/js/chart.min.js') }}"></script>
            <script src="{{ asset('assets/js/fontawesome.js') }}"></script>
            <script src="{{ asset('assets/js/moment.min.js') }}"></script>
            <script src="{{ asset('assets/js/sweetalert.js') }}"></script>
            <script>
                let alertType;
                {% if alert is defined and alert != false %}
                    alertType = {'type': '{{ alert.type }}' , 'message': '{{ alert.message }}' };
                {% else %}
                    alertType = false;
                {% endif %}
            </script>
            <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}

    </body>
</html>
