<nav id="sidebar">
    <div class="sticky-top sidebar-container">
        <div class="sidebar-header">
            <h3>Tabloul de bord</h3>
        </div>

        <ul class="list-unstyled components">
            <li {{ app.request.get('_route') == 'dashboard' ? 'class="active"' }}>
                <a href="{{ path('dashboard') }}">Prezentare generală</a>
            </li>
            <li>
                <a href="{{ path('view_medici') }}" {{ app.request.get('_route') == 'view_medici' ? 'class="active"' }}>Vizualizare medici</a>
            </li>
            <li>
                <a href="#pacientilink" data-toggle="collapse" aria-expanded="{{ app.request.get('_route') == 'view_pacienti' or app.request.get('_route') == 'add_pacient' ? 'true' : 'false' }}" class="dropdown-toggle">Pacienți</a>
                <ul class="collapse list-unstyled {{ app.request.get('_route') == 'view_pacienti' or app.request.get('_route') == 'add_pacient' ? 'show' }}" id="pacientilink">
                    <li>
                        <a href="{{ path('view_pacienti') }}" {{ app.request.get('_route') == 'view_pacienti' ? 'class="active"' }}>Vizualizare pacienți</a>
                    </li>
                    <li>
                        <a href="{{ path('add_pacient') }}"  {{ app.request.get('_route') == 'add_pacient' ? 'class="active"' }}>Adăugare pacient</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#consultatiilink" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consultații</a>
                <ul class="collapse list-unstyled" id="consultatiilink">
                    <li>
                        <a href="#">Vizualizare consultații</a>
                    </li>
                    <li>
                        <a href="#">Adăugare consultație</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#medicamentelink" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Medicamente</a>
                <ul class="collapse list-unstyled" id="medicamentelink">
                    <li>
                        <a href="#">Vizualizare medicamente</a>
                    </li>
                    <li>
                        <a href="#">Adăugare medicament</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>