{% extends "base.html.twig" %}

{% block title %}Panoul de bord{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/dashboard/main.css') }}">
{% endblock %}

{% block body %}
    <div class="top-bar sticky-top">
        <div class="w-100">
            <div class="px-4 py-2 border bg-light">Prezentare generală</div>
        </div>
    </div>

    <div class="content container min-vh-content">
        <div class="container-fluid dashboard-container">
            <!-- General data -->
            <div class="row">
                <div class="col-xl border bg-light dashboard-section dashboard-medici m-2">
                    <div class="p-4 row">
                        <div class="col">
                            <div class="widget-heading">Medici</div>
                            <div class="widget-subheading">Numărul total de medici</div>
                        </div>
                        <div class="col-auto">
                            <div class="widget-numbers text-white float-right" id="total-medici-number"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl border bg-light dashboard-section dashboard-consultatii m-2">
                    <div class="p-4 row">
                        <div class="col">
                            <div class="widget-heading">Consultații</div>
                            <div class="widget-subheading">Numărul total de consultații</div>
                        </div>
                        <div class="col-auto">
                            <div class="widget-numbers text-white float-right" id="total-consultatii-number"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl border bg-light dashboard-section dashboard-pacienti m-2">
                    <div class="p-4 row">
                        <div class="col">
                            <div class="widget-heading">Pacienți</div>
                            <div class="widget-subheading">Numărul total de pacienți</div>
                        </div>
                        <div class="col-auto">
                            <div class="widget-numbers text-white float-right" id="total-pacienti-number"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Charts -->
            <div class="row">
                <div class="col-xl border bg-light dashboard-section m-2">
                    <div class="p-4 row">
                        <div class="widget-heading color-black">Statistică generală</div>
                        <div class="widget-subheading color-black">Distribuție</div>
                        <canvas id="distribution-chart" height="200"></canvas>
                    </div>
                </div>
                <div class="col-xl border bg-light dashboard-section m-2">
                    <div class="p-4 row">
                        <div class="widget-heading color-black">Distribuția medicilor</div>
                        <div class="widget-subheading color-black">După numărul de consultații</div>
                        <canvas id="top-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
            <!-- Last added data -->
            <div class="row">
                <div class="col-lg border bg-light dashboard-section dashboard-last-consultatii m-2">
                    <div class="p-4">
                        <div class="widget-heading">Ultimele consultații înregistrate</div>
                        <div class="last-table row">
                            <div class="col-4">
                                Data
                            </div>
                            <div class="col-4">
                                Medic
                            </div>
                            <div class="col-4">
                                Pacient
                            </div>
                            <hr class="mt-2 mb-2">
                            {% for consultatie in lastConsultatii %}
                            <div class="col-4">
                                {{ consultatie.data|date('d/m/Y') }}
                            </div>
                            <div class="col-4">
                                {{ consultatie.medic.prenumeMedic }} {{ consultatie.medic.numeMedic }}
                            </div>
                            <div class="col-4">
                                {{ consultatie.pacient.prenumePacient }} {{ consultatie.pacient.numePacient }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg border bg-light dashboard-section dashboard-last-pacienti m-2">
                    <div class="p-4">
                        <div class="widget-heading">Ultimii pacienți înregistrați</div>
                        <div class="last-table row">
                            <div class="col-4">
                                Prenume
                            </div>
                            <div class="col-4">
                                Nume
                            </div>
                            <div class="col-4">
                                CNP
                            </div>
                            <hr class="mt-2 mb-2">
                            {% for pacient in lastPacienti %}
                                <div class="col-4">
                                    {{ pacient.prenumePacient }}
                                </div>
                                <div class="col-4">
                                    {{ pacient.numePacient }}
                                </div>
                                <div class="col-4">
                                    {{ pacient.cnp }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/dashboard/medic-dashboard.js') }}"></script>
{% endblock %}